<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.pimod.santanderapp"
        versionCode="11" 
        version   = "1.0">

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="ios-statusbarstyle" value="black-translucent"/>

    <preference name="android-minSdkVersion" value="11" />
    <preference name="android-targetSdkVersion" value="14" />

    <access origin="*" />
    
    <name>Santanders - App</name>
    
    <description>
      
    </description>

    <icon src="img/icons/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/icons/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/icons/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/icons/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="img/icons/icon-120.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/icons/icon-152.png" gap:platform="ios" width="152" height="152" />


    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Hardeep Shoker 
    </author>
    
    <gap:platform name="ios" /> 
    <gap:platform name="android" />
     
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="381248932009498" />
        <param name="APP_NAME" value="Santanders App" />
    </gap:plugin>

    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="com.dileep.plugins.datepicker" />
    <gap:plugin name="de.websector.datepicker" />
   
</widget>