#SeccionEventosOfertas{
	position: absolute;
}

#solapa_eventos{
	left: 20px;
	top: 60px;
}

#solapa_ofertas{

	left: 119px;
	top: 60px;

}
.ItemListaOferta_hoy{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
}

#ListaOfertas_btn_ver_terms{
	position: absolute;
	right: 7px;
	top: 8px;

}
#ListaOfertas_header_banner{
	position: relative;
	
	height: 35px;
	width: 100%;
	background-color: #ed1c24;
	margin-top: -4px;
}
#ListaOfertas_header_banner_titulo_txt{
	position: absolute;
	
	height: 35px;
	width: 90%;
	color: #fff;
	font-family: 'GothamBold';
	font-size: 14px;
	top: 9px;
	left: 11px;
}
#ListaOfertas{
	position: absolute;

	width: 100%;
}

#ListaEventos{
	position: absolute;
	
	width: 100%;
}

#ListaOferta_txt_deptos,#ListaEventos_txt_deptos{

 	 font-family: 'GothamBold';
	 font-size: 13px;
	 position: absolute;
	 width: 130px;
 	 margin-left: -120px;
	 left: 50%;
 	 top: 20px;

}
#ListaOferta_combo_deptos,#ListaEventos_combo_deptos{

	-webkit-appearance: none;
	border: none;
	padding: 0px 10px 0px 10px;
	outline: none;
	font-family: 'GothamBook';
	font-size: 12px;
	-webkit-border-radius: 5px;
	-webkit-appearance: none;
	height: 31px;
	border-radius: 5px;
	border: solid 1px #ccc;
	position: absolute;
	background-image: url(../img/form/flecha_combo.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: right 0px;
	top: 11px;
	left: 50%;
	margin-left: -15px;
	width: 147px;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#ListaOferta_banner{
	
	
	padding: 0 auto;

	
}

#ListaOferta_holder_combo_deptos,#ListaEventos_holder_combo_deptos{
	
	height: 55px;
	padding: 0 auto;
	position: relative;
	
}
#ListaOfertas_holder{
	overflow: scroll;
    -webkit-overflow-scrolling: touch;
     -webkit-transform: translateZ(0); 
}

#ListaEventos_holder{
	overflow: scroll;
    -webkit-overflow-scrolling: touch;
     -webkit-transform: translateZ(0); 
}
#ListaEventos_btn_ver_en_mapa{
	left: 50%;
	width: 130px;
}
#ListaEventos_btn_subir_evento{
	left: 50%;
	width: 130px;
}
#ListaOfertas_btn_ver_en_mapa{
	left: 50%;
	width: 140px;
}

#ListaOfertasWrapper,#ListaEventosWrapper{
	border-top: solid 1px #e5e5e5;
}

.Tabs_holder{
	position: absolute;
	border: solid 1px #e5e5e5;
	left: 20px;
	top: 96px;

	
}



#SeccionEventosOfertas_holder_tabs{

	position: absolute;
	border-top: solid 1px #e5e5e5;
	width: 200px;
	height: 200px;
	top: 96px;
	left: 20px;

}
.ItemListaEvento{
	position: relative !important;
	padding: 10px 5px 8px 20px;
	border-bottom: solid 1px #e5e5e5;
	outline: none;
	
	 
}
.ItemListaEvento_txt_nombre{
	 font-family: 'GothamBook';
	 font-size: 13px;
	  pointer-events:none;
}

.ItemListaOferta{
	position: relative !important;
	padding: 10px 5px 8px 20px;
	border-bottom: solid 1px #e5e5e5;
	outline: none;
}

.ItemListaOferta_txt_nombre{

	 font-family: 'GothamBook';
	 font-size: 13px;
	 pointer-events:none;
}
.ItemListaOferta_txt_descuento{

	font-family: 'GothamBold';
	 font-size: 13px;
	 color: #ed1c24;
	 position: absolute;
	right: 10px;
	top: 10px;
	text-align: right;
	pointer-events:none;
}
.ItemListaEvento_fecha{
	position: relative;
	font-family: 'GothamBold';
	 font-size: 13px;
	 color: #674d97;
	 pointer-events:none;
	width: 55px;

	display: block;
	float: left;

}
.ItemListaEvento_nombre{
	position: relative;
	pointer-events:none;
	float: left;
}
.sin_resultados{

	font-family: 'GothamBook';
	margin-top: 10px;
	font-size: 13px;
	color: #ccc;
	width: 100%;
	height: 50px;
	position: relative !important;
	display: block;

}
.sin_resultados div{

	padding: 5px;
	height: 50px;
	position: relative;
}