#UnEvento{
	position: absolute;
	
}

#UnEvento_btn_volver{

	position: absolute;
	right: 6px;
	top: 4px;
}

#UnEvento_btn_ver_en_mapa{

	position: absolute;
	right: 35px;
	top: 4px;
}

#SeccionUnEvento{
	position: absolute;
}

#SeccionUnEvento_img{
	position: relative;
	

}
#UnEvento_header_titulo{
	position: relative;
	width: 100%;
	background-color: #674d97;
		

	margin-top: -4px;
}
#UnEvento_titulo_txt{
	position: relative;
	
	color: #fff;
	font-family: 'GothamBold';
	font-size: 14px;
	top:;
	margin-left: 11px;
	padding-top: 10px;
	padding-bottom: 7px;
}
#UnEvento_holder_data{
	position: relative;
	
	width: 100%;
}
.UnEvento_reg{
	position: relative;
	width: 100%;
	padding: 5px;
	border-bottom: solid 1px #ccc;
	
}
.UnEvento_label{
	position: relative;
	width: 100px;
	font-family: 'GothamBold';
	font-size: 12px;
	float: left;
}
.UnEvento_data{
	position: relative;
	font-family: 'GothamBook';
	font-size: 12px;
	float: left;
}
#UnEvento_holder_footer{
	position: relative;
	width: 100%;
	height: 70px;
}
#UnEvento_btn_participar{
	left: 50%;
	top: 15px;
	margin-left: -132px;
	width: 130px;
}
#UnEvento_btn_compartir{
	left: 50%;
	top: 15px;
	margin-left: 2px;
	width: 130px;
}
#UnEvento_holder_participaciones{

        position: relative;
        width: 100%;
        padding: 5px;
        border-top: solid 1px #ccc;

}
#UnEvento_txt_tambien_participan{
        position: relative;
        font-family: 'GothamBold';
        font-size: 12px;
        width: 100%;
        float: left;
        height: 24px;
}
#UnEvento_holder_usuarios_fb{

        position: relative;
        width: 100%;
        /* background-color: #ff0000; */

}
#UnEvento_holder_usuarios_fb img{

        position: relative;
        width: 50px;
        height: 50px;
        padding: 2px;
        float: left;

}
#UnEvento_txt_tambien_participan{
	position: relative;
	font-family: 'GothamBold';
	font-size: 12px;
	width: 100%;
	float: left;
	height: 24px;
}
#UnEvento_holder_usuarios_fb{

	position: relative;
	width: 100%;
	/* background-color: #ff0000; */

}
#UnEvento_holder_usuarios_fb img{

	position: relative;
	width: 50px;
	height: 50px;
	padding: 2px;
	float: left;


}
#UnEvento_mensaje_participantes{


        font-family: 'GothamBook';
        font-size: 12px;
        font-style: italic;
        color: #ccc;

}